#canvas {
	/*background: url("http://payload73.cargocollective.com/1/5/163249/3777538/TheOpenCompanyMaps_SanFrancisco_800px.jpg");*/
	background-size: cover;
	background-repeat: none;
}

#map {

	height: 500px;

}